.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.pageMain {
  flex-grow: 1;
  padding: 10rem 8rem 15rem 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.imageWrapper {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .pageMain {
    padding: 4rem 0;
  }
}
