.navLink {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--foreground);
  transition: opacity 0.3s ease;
  transition: color 0.3s ease;
  position: relative;
}

.navLink:hover {
  color: var(--accent-hover);
}

.active {
  color: var(--accent);
}

.active::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--accent);
}

@media (max-width: 768px) {
  .active::before {
    left: 50%;
    top: 105%;
    transform: translateY(-50%);
  }

  .navLink {
    font-size: 1.3rem;
  }
}
